@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    :root {
        --border-bottom-heading: #929191;
        --color-a: #111111;
        --bg-pre: #f3f3f3;
        --bg-th: #f3f3f3;
        --bg-tr: #f1efef;
        --color-code: #c7254e;
        --bg-code: #f3dfe4;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --border-bottom-heading: #929191;
        --color-a: #b1aaaa;
        --bg-pre: #292828;
        --bg-th: #111111;
        --bg-tr: #292828;
        --color-code: #c7254e;
        --bg-code: #251a1d;
    }
}


/*  TEXT */
.markdown-container h1 {
    font-size: 30px;
}

.markdown-container h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 1px solid var(--border-bottom-heading);
}

.markdown-container h2 {
    font-size: 28px;
}

.markdown-container h3 {
    font-size: 26px;
}

.markdown-container h4 {
    font-size: 24px;
}

.markdown-container h5 {
    font-size: 22px;
}

.markdown-container h6 {
    font-size: 20px;
}

.markdown-container p {
    line-height: 1.6;
    margin: 20px 0;
}

.markdown-container a {
    color: var(--color-a);;
    text-decoration: underline;
    line-height: 1.6;
}

/* LISTS */
.markdown-container ul, ol {
    margin: 20px 0;
}

.markdown-container ul {
    list-style: circle;
}

.markdown-container ol {
    list-style: decimal;
}

.markdown-container ul,
.markdown-container ol {
    padding-left: 35px;
}

/* IMAGES */
.markdown-container img {
    display: block;
    margin: 20px 0;
}

/* BLOCKQUOTE */
.markdown-container blockquote {
    padding-left: 15px;
    border-left: 4px solid white;
    border-radius: 5px 0 0 5px;
}

/* TABLE */
.markdown-container table {
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #b1aaaa;
    padding: 10px;
}

.markdown-container th {
    padding: 8px;
    background-color: var(--bg-th);;
}

.markdown-container td {
    padding: 10px;
}

.markdown-container table tr:nth-child(odd) {
    background-color: var(--bg-tr);;
}

.markdown-container th {
    text-align: left;
}

/* CODE */
.markdown-container pre {
    background-color: var(--bg-pre);;
    padding: 10px 15px;
    border-radius: 5px;
}

.markdown-container code {
    color: var(--color-code);;
    background-color: var(--bg-code);;
    padding: 3px;
    border-radius: 5px;
}